<div>
    <div class="boldFont">
        <div>TO SUCCEED,</div>
        <div>YOU MUST</div>
        <div>READ</div>
    </div>
</div>
<div class="exp">
    <div class="lexp">
        <div>
            <span class="quotes">"</span>
            <div>welcome to <strong>OnSearch</strong>! onsearch is an online book search adivpp. This app will help you find books & ebooks from all over the Internet. You can find the
            veraity of books down here starting from fiction, lifestyle, education, comics and so on. A perfect place for book enthusiasts.
            </div>
        </div>
    </div>
    <div class="rexp">
        <img src="assets/images/book1.svg" alt="">
    </div>
</div>