<div>
    <div class="wholeDiv">
        <div class="leftImg">
            <img src="assets/images/reading.svg" alt="">
        </div>
        <div class="whole">
            <div class="welcome">welcome back!</div>
            <form [formGroup]="form" (ngSubmit)="check()" class="login-form">
                <div class="input-box">
                    <label for="name">Name</label>
                    <input type="text" formControlName="name" placeholder="Name" id="name">    
                </div>
                <div class="input-box">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" placeholder="Password" id="password">
                </div>
                <div class="errtext">{{string}}</div>
                <div class="grclass">
                    <button class="btn">LOGIN</button> 
                </div>   
            </form>
        </div>
    </div>
</div>