
.sign{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.button1{
    color: black;
    background-color: yellow;
    font-family: 'Sora', sans-serif;
    padding: 0.5% 1.2% 0.5% 1.2%;
    font-size: 1em;
    border:1px solid transparent;
    width: 10vw;
    text-align: center;
    border-radius: 1em;
    cursor: pointer;
}

.button2{
    color: black;
    background-color: yellow;
    font-family: 'Sora', sans-serif;
    padding: 0.5% 1.2% 0.5% 1.2%;
    font-size: 1em;
    border:1px solid transparent;
    width: 10vw;
    text-align: center;
    border-radius: 1em;
    cursor: pointer;
}

.button3{
    color: black;
    background-color: yellow;
    font-family: 'Sora', sans-serif;
    padding: 0.5% 1.2% 0.5% 1.2%;
    font-size: 1em;
    border:1px solid transparent;
    width: 10vw;
    text-align: center;
    border-radius: 1em;
    cursor: pointer;
}

.button1:hover,.button2:hover,.button3:hover{
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2), 3px 3px 13px 3px rgba(0, 0, 0, 0.19);
}

.wholeDiv {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.whole{
    text-align: center;
    border: 1px solid white;
    padding: 20px;
    border-radius: 4px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftImg {
    max-width: 50vw;
}

.leftImg > img {
    max-width: 50vw;
    object-fit: contain;
}

.login-form {
    width: 250px;
}

.whole>h1{
    font-size: 3em;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}
.input-box > label {
    font-size: 10px;
    color: blue;
    position: absolute;
    top: -8px;
    background: white;
    margin-left: 10px;
    padding: 2px;
}

.input-box input {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid blue;
    padding: 10px;
}

.input-box input:hover, .input-box input:focus, .input-box input:focus-visible{
    box-shadow: rgba(2, 31, 249, 0.1) 0px 4px 12px;
    border: 2px solid blue;
    outline: none;
}


.welcome {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0;
}

.btn {
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
    background: #3456ff;
    border: none;
}

.errtext {
    position: absolute;
    margin-top: -20px;
    color: red;
    font-size: 10px;
    margin-left: 0;
}

.grclass {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    body{
        margin-top: -10%;
    }

    .main{
        padding: 6% 0.5% 0.5% 0.5%; 
        font-size: 2em;
    }

    .exp{
        display: grid;
        grid-template-columns: 1fr ;
    }

    .lexp{
        padding: 5% 15% 5% 15%;
        font-size: 1em;
        text-align: center; 
    }

    .rexp{
        text-align: center;
    }
    
    .button1{
        width: 12vh;
        font-size: 0.7em;
        margin-left: 60%;
    }

    .button2{
        width: 12vh;
        font-size: 0.7em;
    }

    .button3{
        width: 12vh;
        font-size: 0.7em;
    }

    .button1:hover,.button2:hover,.button3:hover{
        width: 12.5vh;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2), 3px 3px 13px 3px rgba(0, 0, 0, 0.19);
    }

    .whole{
        margin-left: 20%;
        margin-right: 20%;
    }

    .whole>h1{
        font-size: 1.5em;  
    }

    input{
        width: 40vw;
        font-size: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .exp{
        display: grid;
        grid-template-columns: 1fr ;
    }
}
