<div id="whole">
    <div id="left">
        <p id="title">{{this.books.title}}</p><br>
        <p id="author"><em class="fas fa-user-alt fa-2x"></em> {{this.books.authors}}</p><br>
        <p id="desc">Description:</p>
        <p id="desc">{{this.books.description}}</p>
        <div id="inside">
            <p id="rate"><em class="fas fa-star"></em> {{this.books.averageRating}}</p>
            <p id="rc"><em class="fas fa-male"></em> {{this.books.ratingsCount}}</p><br>
        </div>
    </div>
    <div id="right">
        <img src={{books.imageLinks.thumbnail}} alt=""><br><br>
        <a href={{this.books.previewLink}}>buy book</a>
    </div>
</div>