<div>
    <div class="wholeDiv">
        <div class="leftImg">
            <img src="assets/images/reading.svg" alt="">
        </div>
        <div class="whole">
            <div class="welcome">SIGN UP</div>
            <form [formGroup]="form" (ngSubmit)="check()" class="login-form">
                <div class="input-box">
                    <label for="name">Name</label>
                    <input type="text" id="inp" formControlName="name" [(ngModel)]="nv" placeholder="name" name="name">
                </div>
                <div class="errtext">{{name}}</div>
                <div class="input-box">
                    <label for="email">Email</label>
                    <input type="email" id="inp" formControlName="email" [(ngModel)]="ev" placeholder="email" name="email">
                </div>
                <div class="errtext">{{email}}</div>
                <div class="input-box">
                    <label for="password">Password</label>
                    <input type="password" id="inp" formControlName="password" [(ngModel)]="pv" placeholder="password" name="password">
                </div>
                <div class="errtext">{{password}}</div>
                <div class="input-box">
                    <label for="reenterpassword">Re enter Password</label>
                    <input type="password" id="inp" formControlName="cpassword" placeholder="confirm password" name="reenterpassword">
                </div>
                <div class="errtext">{{cp}}</div>
                <button class="btn">SUBMIT</button>
            </form>
        </div>
    </div>
</div>


