<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title></title>
</head>
<body>
  <div id="first">
    <h1 id="main">OnSearch </h1>
    <div id="right">
      <button [routerLink]="['/search']" id="search"><em class="fas fa-search"></em> search book</button>
    </div>
  </div>
  <hr><br>
    <input list="categories" [(ngModel)]="categories" (change)="changecat()" placeholder="select category" id="cat">
      <datalist id="categories">
        <option value="Fiction">
        <option value="Education">
        <option value="Culture">
        <option value="Fashion">
        <option value="Food">
        <option value="Games">
        <option value="Manga">
      </datalist><br><br>
    <div id="list">
        <div id="each" *ngFor="let li of list">
            <img src={{li.book_image}} alt=""><br>
            <p>{{li.title}}</p><br>
            <button [routerLink]="['/book',li.primary_isbn10]" (click)="book(li.primary_isbn10)" id="book">View Book</button>
        </div>
    </div>
</body>
</html>

