<div class="whole">
  <input list="categories" [(ngModel)]="categories" (change)="changecat()" placeholder="select category" class="cat">
  <datalist id="categories">
    <option value="Fiction">
    <option value="Education">
    <option value="Culture">
    <option value="Fashion">
    <option value="Food">
    <option value="Games">
    <option value="Manga">
  </datalist><br><br>
<div class="list">
    <div class="each" *ngFor="let li of list">
      <div class="each_whole" [routerLink]="['/book',li.primary_isbn10]" (click)="book(li.primary_isbn10)">
        <div>
          <img src={{li.book_image}} alt="">
        </div>
        <div class="right">
          <div>
            <div class="title">{{li.title}}</div>
            <div class="author">
              <span>{{li.author}}</span>
            </div>
            <div class="publisher">
              <em class="fas fa-book-open"></em>
              <div>{{li.publisher}}</div>
            </div>
          </div>
          <div class="each_content">
            <div class="flexbox color-white">
              <em class="fas fa-award"></em>
              <div>
                {{li.rank}}
              </div>
            </div>
            <div class="flexbox rupee">
              <em class="fas fa-rupee-sign"></em>
              <div>
                {{li.price}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

